.range-slider-horizontal {
  margin: 40px;
  margin-top: 50px;
  width: 100%;
}

.range-slider-vertical {
  margin: 40px;
  height: 400px;
}

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
  margin-top: 5px;
}

.fos-range-hidden {
  display: none;
}

.noUi-pips-horizontal {
  height: 25px;
}

.noUi-pips-vertical {
  width: 25px;
}

